@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Chokokutai&display=swap");

@font-face {
  font-family: "Pixel";
  src: url("./pixel.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #301e67;
  margin: 0 auto;
  font-family: "Press Start 2P", cursive;
  color: #b6eada;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  background-color: #03001c;
  text-align: center;
  padding: 30px 0;
}

.header .title {
  color: #5b8fb9;
}

.container {
  flex: 2 auto;
  width: 40%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.contender_section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.health {
  min-width: 230px;
  height: 20px;
  margin-top: 10px;
  display: flex;
  border: 2px white;
  border-style: ridge;
}

.health_bar {
  background-color: green;
  width: 100%;
  transition: width 0.5s;
}

.round .count {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
  color: #fcb830;
}

.computer .health {
  flex-direction: row-reverse;
}

.computer .name {
  text-align: end;
}

.window {
  margin: 20px 0;
  width: 100%;
  height: 400px;
  /* border: 3px ridge white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner {
  margin: 15px 0;
  text-align: center;
}

.outcome_winner {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.battle_window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
}
.player_window,
.computer_window {
  /* border: 1px solid red; */
  width: 35%;
  height: auto;
}

.weapon_section {
  display: flex;
}

.choose_weapon {
  text-align: center;
  margin: 20px 0;
  font-size: 1.4em;
}

.weapon_section {
  display: flex;
  justify-content: space-evenly;
}

.weapon_section .weapons {
  width: 80px;
}

#rock,
#paper,
#scissor {
  transition: transform 0.5s, color 0.5s;
}

.weapon_section #rock:hover,
.weapon_section #paper:hover,
.weapon_section #scissor:hover {
  cursor: pointer;
  color: #5b8fb9;
  transform: scale(1.1);
}

.image_holder {
  margin-right: -23px;
  font-size: 12em;
  color: #fcb830;
}

.vs {
  font-size: 1.5em;
}

.footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.computer_window,
.player_window {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.player_window {
  justify-content: flex-start;
}
.computer_window {
  justify-content: flex-end;
}

.choice p {
  text-align: center;
  font-size: 1.3;
}

.hide {
  scale: 0;
  color: rgba(252, 184, 48, 0);
  transition: scale 0.4s, color 0.3s;
}

.choices {
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #0c063a;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 400px;
  height: 300px;
  color: #5b8fb9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-radius: 5px;
}

.modal-content p {
  text-align: center;
  color: #fcb830;
  padding: 0 10px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.5em;
}
/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #5b8fb9;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  border: none;
  transition: scale 0.5s;
  border-radius: 5px;
  background-color: #301e67;
  color: #fcb830;
}

.modal-content button:hover {
  cursor: pointer;
  scale: 0.95;
}
